<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
    bootstrap="vendor/codeigniter4/framework/system/Test/bootstrap.php"
    backupGlobals="false"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory="build/.phpunit.cache"
    colors="true"
    executionOrder="random"
    failOnRisky="true"
    failOnWarning="true">
    <coverage includeUncoveredFiles="true">
        <report>
            <clover outputFile="build/phpunit/clover.xml"/>
            <html outputDirectory="build/phpunit/html"/>
            <php outputFile="build/phpunit/coverage.serialized"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
            <xml outputDirectory="build/phpunit/xml-coverage"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="CodeIgniter SSE">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <php>
        <env name="XDEBUG_MODE" value="coverage"/>
        <env name="COMPOSER_DISABLE_XDEBUG_WARN" value="1"/>
        <server name="app.baseURL" value="https://example.com/"/>
        <const name="HOMEPATH" value="./"/>
        <const name="CONFIGPATH" value="vendor/codeigniter4/framework/app/Config/"/>
        <const name="PUBLICPATH" value="./public/"/>
    </php>
</phpunit>
